backend/.venv
backend/__pycache__
backend/*.pyc
backend/uploads
backend/database.json
backend/run_server.bat
backend/server_log.txt
backend/server_exception_log.txt
backend/server.crt
backend/server.key
